/*:root {
  --accent-color: #2196f3;
  --secondary-color: #f5f5f5;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --icons-color: #afb1b8;
  --backgraund-color: #ffffff;
  --backgraund-secondary-color: #2f303a;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

/*body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--backgraund-color);
}*/
/* reset*/

/*html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding-left: 0;
  margin: 0;
}

/*a {
  color: inherit;
  text-decoration: none;
}*/

/*img {
  display: block;
  max-width: 100%;
  height: auto;
}*/

/*.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}*/

/*   outline: 2px solid red; */

/*.section {
  padding: 94px 0px;
}*/

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

/*ul {
  list-style: none;
  display: inline-flex;
}*/

/*.title-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}*/

/* Соціальці мережі*/

/*.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--backgraund-color);
  border-radius: 50%;
  fill: var(--icons-color);
  transition: color var(--animation), background-color var(--animation);
}*/

/*.socials__icons {
  transition: fill var(--animation), background-color var(--animation);
}*/

/* .socials-link:hover .socials-icons,
.socials-link:focus .socials-icons {
  fill: var(--accent-color);
}
  */

/*.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--backgraund-color);
}*/

/* Клієнти */

/*.cliens__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 6);
  cursor: pointer;
}

/*.cliens__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
}

.cliens__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: color var(--animation), background-color var(--animation);
}

.cliens__icons {
  transition: fill var(--animation);
}

.cliens__link:hover,
.cliens__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}*/

/*.accent {
  color: var(--accent-color);
}*/

/*.container-header {
  display: flex;
  align-items: center;
}*/

/*.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.contakt__link:hover,
.contakt__link:focus {
  color: var(--accent-color);
}

.contakt__address-icons {
  fill: currentColor;
}

.contakt__tel-icons {
  fill: currentColor;
}

.contakt__address-icons:hover,
.contakt__address-icons:focus {
  fill: var(--accent-color);
}

.contakt__tel-icons:hover,
.contakt__tel-icons:focus {
  fill: var(--accent-color);
}

.contakt__tel-icons {
  justify-content: center;
  align-items: center;
}
.contakt__tel {
  gap: 10px;
}*/

/* Шапка */

/*header {
  border-bottom: 1px solid #ececec;
}*/

/*.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.nav__list {
  gap: 50px;
}

.contakt__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 50px;
}

/*.active {
  position: relative;
  color: var(--accent-color);
}*/

/* .port {
  position: relative;
  color: var(--accent-color);
} */

/*.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 32px;
  transition: color var(--animation);
}

.nav__link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}*/
/* .contakt__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation);
}*/

/* Ефективні бізнесу */

/*.hero {
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)),
    url(../images/main/Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(61 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--backgraund-color);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero__btns:hover,
.hero__btns:focus {
  cursor: pointer;
}

.hero__btns {
  width: 216px;
  min-height: 50px;

  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  color: var(--backgraund-color);
}*/

/* Блок про нас */
/*.about {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.adout__img {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.about__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}



.about__item {
  width: calc((100% - 90px) / 4);
}

.about__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
*/
/* Блок чим ми займаймось */

/*.work {
  padding-top: 0;
}

.work__list {
  gap: 30px;
  padding-bottom: 0;
}

.work__tomb {
  position: relative;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: left;
 
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--backgraund-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}*/

/* Блок наша команда */

/*.team {
  background-color: #f5f4fa;
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team__list {
  gap: 30px;
}

.team__item {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--backgraund-color);
}

.team__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}*/

/* Футер/підвал */

/*footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer {
  color: var(--backgraund-color);
  background: var(--backgraund-secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}*/

/*.cont {
  display: flex;
  margin-top: 20px;
  margin-right: 70px;
}

.cont__list {
  display: list-item;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.contact__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--backgraund-color);
}

.cont__item {
  margin-bottom: 9px;
}
.cont__item:last-child {
  margin-bottom: 0;
}

.cont__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.cont__link:hover,
.cont__link:focus {
  color: var(--accent-color);
}

.cont__link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  cursor: default;
}*/

/*.social {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--backgraund-color);
  margin-bottom: 20px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--backgraund-color);
  transition: color var(--animation), background-color var(--animation);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  fill: var(--backgraund-color);
}

.social__icons {
  transform: fill var(--animation);
}*/

/*.subscription {
  display: flex;
  flex-direction: column;
}

.subscription__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscription__group {
  display: flex;
  position: relative;
  align-items: center;
}

.subscription__field {
  margin-right: 12px;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  border-radius: 4px;
  background-color: var(--backgraund-secondary-color);
  color: var(--backgraund-color);
}

.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  margin: 0 auto;
  width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
  gap: 10px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  color: var(--backgraund-color);
  
}

.subscription__btn:hover,
.subscription__btn:focus {
  cursor: pointer;
}

.subscription__icons {
  position: absolute;
  right: 34px;
}*/

/* портфоліо основа*/

/*.navigation__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  transition: color var(--animation), background var(--animation), box-shadow var(--animation);
}

.navigation__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}*/

/*.navigation__btn-all {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  transition: color var(--animation), background var(--animation), box-shadow var(--animation);
}

.navigation__btn-all:hover,
.navigation__btn-all:focus {
  color: var(--secondary-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}



.navigation__text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.navigation__btn:hover,
.navigation__btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--accent-color);
  color: var(--backgraund-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}*/

/*.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
}

.card__subject {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.card__item {
  width: calc((100% - 60px) / 3);
  transition: box-shadow var(--animation);
}

.card__item:hover,
.card__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__bord {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card__tomb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  transition: transform var(--animation);

  display: flex;
  justify-content: center;
  align-items: left;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.card__item:hover .card__overlay {
  transform: translateY(0);
}
.card__overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--backgraund-color);
}*/
/* modals*/

/*.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
 

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility var(--animation), opacity var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}*/

/*.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--backgraund-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  background-color: var(--backgraund-color);
  fill: #000000;
  border-radius: 50%;
  border: 1px Solid rgba(0, 0, 0, 0.1);
  transition: fill var(--animation);
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
}
*/

/*.register__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.register__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.register__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register__lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;

  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.register__field:last-child {
  margin-bottom: 0;
}

.register__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--animation);
}

.register__input:focus {
  border-color: var(--accent-color);
}

.register__icons {
  position: absolute;
  bottom: 12px;
  left: 10px;

  transition: fill var(--animation);
}

.register__input:focus + .register__icons {
  fill: var(--accent-color);
}

.register__message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--animation);
}

.register__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.register__message:focus {
  border-color: var(--accent-color);
}

.register__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  gap: 10px;
}

.register__icon-cheked {
  opacity: 0;
  fill: var(--accent-color);
  transition: opacity var(--animation);
}

.register__checkbox:checked + .register__icons-checkbox .register__icon-cheked {
  opacity: 1;
}

.register__icon-uncheked {
  opacity: 1;
  transition: opacity var(--animation);
}

.register__checkbox:checked + .register__icons-checkbox .register__icon-uncheked {
  opacity: 0;
}

.register__checkbox:focus + .register__icons-checkbox {
  outline: 2px solid var(--primary-text-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.register__desc {
  user-select: none;

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.register__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.register__icons-checkbox {
  position: absolute;
  top: 5px;
  left: 10px;

  transition: fill var(--animation);
}

.register__btn {
  display: block;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  color: var(--backgraund-color);
}

.register__btn:hover,
.register__btn:focus {
  cursor: pointer;
}
*/
